
anime-details.html
anime-watching.html
*.html
*.cqaYnfGGcG
*.css
*.eot
*.svg
fonts/ElegantIcons.ttf
fonts/ElegantIcons.woff
fonts/fontawesome-webfont3e6e.ttf
fonts/fontawesome-webfont3e6e.woff
fonts/fontawesome-webfont3e6e.woff2
img/anime/details-pic.jpg
img/anime/review-3.jpg
img/anime/review-4.jpg
img/anime/review-5.jpg
img/anime/review-6.jpg
img/anime/xreview-1.jpg.pagespeed.ic.tDRuxBiNnH.jpg
img/anime/xreview-2.jpg.pagespeed.ic.YuC1iZWwdj.jpg
img/anime/xreview-3.jpg.pagespeed.ic.c3CjrtY46q.jpg
img/anime/xreview-4.jpg.pagespeed.ic.fNLoKyrj1j.jpg
img/anime/xreview-5.jpg.pagespeed.ic.42UGDnSodc.jpg
img/anime/xreview-6.jpg.pagespeed.ic.5pKhRt6OwK.jpg
img/blog/blog-1.jpg
img/blog/blog-10.jpg
img/blog/blog-11.jpg
img/blog/blog-12.jpg
img/blog/blog-2.jpg
img/blog/blog-3.jpg
img/blog/blog-4.jpg
img/blog/blog-5.jpg
img/blog/blog-6.jpg
img/blog/blog-7.jpg
img/blog/blog-8.jpg
img/blog/blog-9.jpg
img/blog/details/bd-item-1.jpg
img/blog/details/bd-item-2.jpg
img/blog/details/bd-item-3.jpg
img/blog/details/blog-details-pic.jpg
img/blog/details/comment-1.png
img/blog/details/comment-2.png
img/blog/details/comment-3.png
img/hero/hero-1.jpg
img/live/live-1.jpg
img/live/live-2.jpg
img/live/live-3.jpg
img/live/live-4.jpg
img/live/live-5.jpg
img/live/live-6.jpg
img/logo.png
img/normal-breadcrumb.jpg
img/popular/popular-1.jpg
img/popular/popular-2.jpg
img/popular/popular-3.jpg
img/popular/popular-4.jpg
img/popular/popular-5.jpg
img/popular/popular-6.jpg
img/recent/recent-1.jpg
img/recent/recent-2.jpg
img/recent/recent-3.jpg
img/recent/recent-4.jpg
img/recent/recent-5.jpg
img/recent/recent-6.jpg
img/sidebar/comment-1.jpg
img/sidebar/comment-2.jpg
img/sidebar/comment-3.jpg
img/sidebar/comment-4.jpg
img/sidebar/tv-1.jpg
img/sidebar/tv-2.jpg
img/sidebar/tv-3.jpg
img/sidebar/tv-4.jpg
img/sidebar/tv-5.jpg
img/sidebar/xcomment-1.jpg.pagespeed.ic.UtQm2l5HDP.jpg
img/sidebar/xcomment-2.jpg.pagespeed.ic.SOZ7BJOxXy.jpg
img/sidebar/xcomment-3.jpg.pagespeed.ic.N3Mwe8TZjd.jpg
img/sidebar/xcomment-4.jpg.pagespeed.ic.c5TIkW6Nnv.jpg
img/trending/trend-1.jpg
img/trending/trend-2.jpg
img/trending/trend-3.jpg
img/trending/trend-4.jpg
img/trending/trend-5.jpg
img/trending/trend-6.jpg
img/xlogo.png.pagespeed.ic.HMLCbRUnX1.png
js/bootstrap.min.js
js/jquery-3.3.1.min.js
js/jquery.nice-select.min.js+mixitup.min.js.pagespeed.jc.1vd_GiIZPd.js
js/jquery.slicknav.js+owl.carousel.min.js.pagespeed.jc.tDEomUlLBt.js
js/main.js
js/player.js
videos/1.mp4
videos/anime-watch.jpg
